<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}: Probe</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link media="all" href="/static/css/style.css" rel="stylesheet">
  </head>

  <body>
  {% set active_nav = active_nav | default('nav_index') -%}

    <input type="hidden" id="hi-current-user-id" value="{{ current_user.id }}">
    {% block js_values %}{% endblock %}

    <div class="flash_message"></div>

    <div class="wrapper">
      {% include 'partials/header.html' %}

      {% block content %}{% endblock %}

      {% include 'partials/footer.html' %}
    </div>

    <script src="/static/js/require-config.js"></script>
    <script src="/static/js/vendor/require.2.1.11.min.js"></script>
    {% block js_common %}{% endblock %}
    {% block js %}{% endblock %}

    {% include 'partials/analytics.html' %}
  </body>
</html>